# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
Clone/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db